.file-upload {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: .5rem;

    .attach-btn {
        // width: 100%;
    }

    .upload-btn {
        // min-width: 10rem;
    }
}

.progress {
    margin: .5rem;

    .progress-btn-row {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }
}

.invisible {
    opacity: 0;
}

.table-files {
    margin: .5rem;
    .chip-state {
        color: white;
        padding: .2rem .8rem;
        border-radius: 1rem;
    }
    th.center, td.center {
        text-align: center;
        justify-content: center;
        justify-items: center;
    }
}