<input type="file" class="file-input hide" [accept]="requiredFileType" (change)="onFileSelected($event)" #fileUpload>

<div class="file-upload">
    <button mat-button color="primary" class="attach-btn" (click)="fileUpload.click()"
        [disabled]="uploadProgress() > -1">
        {{fileName() || "No file attached yet."}} <mat-icon>attach_file</mat-icon>
    </button>
    <button mat-button color="accent" class="upload-btn" (click)="uploadFile()"
        [disabled]="fileName() === '' || uploadProgress() > -1">
        Upload <mat-icon>cloud_upload</mat-icon>
    </button>
</div>

@if(uploadProgress() > -1) {
<div class="progress">
    <mat-progress-bar class="progress-bar" mode="determinate" [value]="uploadProgress()">
    </mat-progress-bar>
    <div class="progress-btn-row">
        <button mat-button color="error" class="cancel-upload" (click)="cancelUpload()" [disabled]="fileName() === ''">
            Cancel <mat-icon>cancel</mat-icon>
        </button>
    </div>
</div>
}

@if(dataSource().length > 0) {
<section class="table-files">
    <table mat-table [dataSource]="dataSource()" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Name Column -->
        <ng-container matColumnDef="filename">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.filename}} </td>
        </ng-container>
        
        <!-- Symbol Column -->
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element"> {{element.status}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
</section>
}