@use "sass:map";
@use "@angular/material" as mat;

@mixin color($theme) {
    .table-files {
        .chip-Pending {
            background-color: mat.get-theme-color($theme, primary, 50);
        }
        .chip-Completed {
            background-color: #2e922e;
        }
        .chip-Failed {
            background-color: mat.get-theme-color($theme, error, 50);
        }
    }
}

@mixin typography($theme) {}

@mixin theme($theme) {
  @if mat.theme-has($theme, color) {
    @include color($theme);
  }

  @if mat.theme-has($theme, typography) {
    @include typography($theme);
  }
}