<section class="container-row-login">
    <div class="card-content mat-elevation-z8">
        <div class="center-banner">
            <img width="150"
                src="https://firebasestorage.googleapis.com/v0/b/insta-share-1c720.appspot.com/o/logo-ce.png?alt=media&token=8d10a091-438c-4b55-a8af-08d44e6cc937"
                alt="CE Banner" />
            <h2 class="title">Sing Un</h2>
            <h4>Create a new CE account</h4>
        </div>
        <form [formGroup]="registerForm">

            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" type="email" />
                @if (f['email'].invalid && (f['email'].dirty || f['email'].touched)) {
                <mat-error>
                    @if (f['email'].hasError('required')) {
                    <span>Email is required.</span>
                    }
                    @else if (f['email'].hasError('email')) {
                    <span>Email must be an valid.</span>
                    }
                </mat-error>
                }
            </mat-form-field>

            <mat-form-field appearance="outline" class="ng-invalid">
                <mat-label>Enter your password</mat-label>
                <input matInput type="password" [type]="hide() ? 'password' : 'text'" formControlName="password"
                    class="ng-invalid">
                <button mat-icon-button matSuffix (click)="hide.set(!hide())" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide()">
                    <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                @if (f['password'].invalid && (f['password'].dirty || f['password'].touched)) {
                <mat-error>
                    @if (f['password'].hasError('required')) {
                    <span>Password is required.</span>
                    }@else if (f['password'].hasError('minlength')) {
                    Password should be at least 6 characters.
                    }
                </mat-error>
                }
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label> Confirm your password </mat-label>
                <input matInput type="password" [type]="confirmHide() ? 'password' : 'text'"
                    formControlName="confirmPassword">
                <button mat-icon-button matSuffix (click)="confirmHide.set(!confirmHide())"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="confirmHide()">
                    <mat-icon>{{confirmHide() ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                @if (f['confirmPassword'].invalid && (f['confirmPassword'].dirty || f['confirmPassword'].touched)) {
                <mat-error>
                    @if (f['confirmPassword'].hasError('required')) {
                    Confirm password is required.
                    } @else if (f['confirmPassword'].hasError('minlength')) {
                    Password should be at least 6 characters.
                    }
                </mat-error>
                }
            </mat-form-field>
            @if ( registerForm.hasError('passwordNoMatch')) {
            <p class="error-message">
                Passwords does not match.
            </p>
            }
            <div class="align-content-end">
                <a [routerLink]="[ '/forgot-password' ]" class="link">Forgot password? </a>
            </div>

            <div class="buttons">

                <button id="registerButton" [disabled]="registerForm.invalid || isLoading() === true" mat-flat-button color="primary"
                    (click)="singUp()" class="with-icon"> Sing Up
                    <mat-icon [ngClass]="{'hide':isLoading() === false}"><mat-spinner diameter="18"> </mat-spinner></mat-icon>
                </button>
            </div>
            <div class="bottom-items">
                Already have an account? <a class="center" [routerLink]="[ '/login' ]" class="link"> Sing In </a>
            </div>

        </form>

    </div>

</section>